

    <div class="row text-center contenedor">
        <div class="col-12 col-md-3 col-lg-2  left-bar">
            <div class="text-center mt-3 mb-3">
                <img src="./assets/imagenes/Marta.jpeg" alt="imagen_profesional">
            </div>
            <div class="misTareas">
                <ul>
                    <li>enlace 1</li>
                    <li>enlace 2</li>
                    <li>enlace 3</li>
                    <li>enlace 4</li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-9 col-lg-10 " style="padding-left: 1em;">
                
                    <div class="row cuerpo">
                      <div class="col-3">
                        <select  class=" selector" (change)="navigateTo($event.target)">
                            <option  selected disabled hidden>Admin &#x25BC; </option>
                            <option  id="1" value="/nuevos-registros">Aceptar Registros</option>
                            <option  id="2" value="/crea-nuevo">Crea profesional</option>
                            <option  id="3">-</option>
                            <option  id="4">-</option>
                        </select>
                      </div>
                      <div class="col-3">
                      <select  class=" selector">
                        <option  selected disabled hidden>Profesional &#x25BC; </option>
                        <option  id="hora4">-</option>
                        <option  id="hora5">-</option>
                        <option  id="hora6">-</option>
                        <option  id="hora7">-</option>
                      </select>
                    </div>              
                      

                    <div class="col-12 contenido">
                        <div class="foco">
                            <router-outlet></router-outlet>
                        </div>
                            
                    </div>
            </div>
    </div>
</div>





 