@media (max-width:760px){
    .red{
		margin-left: 1em!important;
	}
	.red:nth-child(2){
		margin-left: 1.2em!important;
	}
}
.container{
    padding: 0!important;
    margin-left: auto;
    margin-right: auto;
}
.row{
    margin:0!important;
}
.carousel{
    padding-right: 0!important;
    padding-left: 0!important;
    width: auto!important;
}
.nutricion{
	background-color: #656176b2;
	z-index: 1;
	
}
.servicios{
    background-color: #B0DACC;
	z-index: 1;
}
.comentarios{
    background-color: #fefefebd;
	z-index: 1;
}
.pedirCita{
    background-color: #e8b5a2af;
	z-index: 1;
}
.blog{
    background-color: #ff924f9a;
	z-index: 1;
}
.btn-flotante {
    font-size: 20px;
	font-weight: bold;
	color: #ffffff;
	border-radius: 20px;
	background-color: #E91E63;
	padding: 10px 15px;
	position: fixed;
	bottom: 40px;
	right: 30px;
    width: 16px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
    box-sizing: unset;
	opacity: 0;
}


.btn-flotante:hover {
	background-color: #2c2fa5; /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.5);
	transform: translateY(-6px);
}
.desaparece {
	-webkit-animation: scale-out .2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: scale-out .2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	opacity: 0;
	pointer-events: none;
}
.aparece {
	opacity: 1;
	-webkit-animation: scale-in .2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: scale-in .2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    height: auto;

}
.footer-div{
	padding-right: 0!important;
    padding-left: 0!important;
}
.red{
	margin: 0;
	text-align: Left;
	font-size: 1.1em;
	transition: ease-in-out 0.3s;
}
.red:hover{
	color: cadetblue;
	transform: translateX(10px);
}
.red:hover i{
	color: rgb(255, 255, 255);
}

