<div class="row" style="height: 100vh; overflow-x: hidden; padding-top: 70px">
    
    <!--Portada Carousel Con Imagenes-->
    <div class="col-12 carousel" id="top">
        <app-carousel></app-carousel>
    </div>
    <!--Apartado de Nutricion-->
    <div class="col-12 nutricion" id="nutricion">
        <app-nutricion></app-nutricion>
    </div>
    <!--Apartado de Servicios-->
    <div class="col-12 servicios" id="servicios">
        <app-servicios></app-servicios>
    </div>
    <!--Apartado de Comentarios-->
    <div class="col-12 comentarios" id="comentarios">
        <app-comentarios></app-comentarios>
    </div>
    <!--Apartado de Blog-->
    <div class="col-12 blog" id="blog">
        <app-blog></app-blog>
    </div>
    
    <a href="#top" class="btn-flotante" [ngClass]="(botonflotante === true) ? 'aparece' : 'desaparece'" >
    <i class="fa fa-arrow-up"></i></a>
    
    <div class="col-12 pedirCita" id="pedirCita">
        <app-pedir-cita></app-pedir-cita>
    </div>
    
    <div class="col-12 footer-div">
        <app-footer></app-footer>
    </div>
       
    </div>
<!--Icons https://icons8.com Icons8 -->