@media (max-width:769px){
    .vr{
        display: none;
    }
}

.container{
    margin-top: 7em;
    max-width: 95%;
    padding: 0;
}
.d-flex{
    max-width: 40px;
}
img{
    width: 150px;
    height: 150px;
    border: 5px solid rgba(15, 102, 124, 0.781);
    border-radius: 100%;
    transition: all .20s ease-in-out;
}
img:hover{
    transform: scale(1.2);
    border: 3px solid rgb(13, 133, 163);;
}

.profesional{
    align-items: right;
    max-width: 400px;
    padding-left: 2em;
}
.profInfo{
    margin-top: 1em;
    font-weight: 200;
}
.form-select{
    margin-top: 1em;
    width: 80%;
    
}
p{
    font-size: 17px!important;
    font-weight:bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    color: rgb(59, 59, 59);
}
span{
    color: rgba(15, 102, 124, 0.781);
    text-align: left!important;
    font-weight:bold;


}
.selector{
    margin: 0.5em;
    font-size: 1.4em;
    font-weight: bolder;
    background-color: rgb(171, 213, 250);
    color: rgba(15, 102, 124, 0.781);
    border-radius: 25px;
    transition: all .20s ease-in-out;
}
.selector:hover{
    color: aliceblue;
    background-color: rgba(15, 102, 124, 0.781);
   
}