@media (max-width:500px){
    .botones1{
        display:unset!important;
    }
    .botones2{
        display: none!important;
    }
}
@media (max-width:760px){
    .mensaje{
        margin-top: 14em!important;
    }
    .container{
        min-height: 70vh!important;
    }
}
.container{
    min-height: 100vh;
    margin-top: 2em;
}
.btn{
    border-radius: 40px;
}
h5{
    font-size: 15px;
}
.botones1{
    display: none;
}
svg{
    width: 30px;
    height: 30px;
}
.btn:hover{
    transform: scale(1.2);
}
.card{
    text-align: left;
    margin-bottom: 1em;
    border-color: rgb(29, 29, 29);
    padding:0;
}
.mensaje{
    margin-top: 20em;
}