@media (max-width:570px){
    .card{
        margin-right: 0!important;
    }
}
p{
    margin-bottom: 0;
}
hr{
    margin-top:0;
    min-width: 20%;
    max-width: 80%;
    padding-left: 1em;    
}
.row{
    width: 95%;
    margin-left: 5%;
}
.card{
    margin-right: 10%;
    margin-top: 1em;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background-color: #B0DACC;/*Color de serie*/
    min-height: 200px;
}
.card:hover{
    background-color: #8fbeae;/*Color on Hover*/
    color: rgb(75, 75, 75);
    transform: scale(1.1);
    -webkit-transition: all 0.4s ease 0.1s;
    -moz-transition: all 0.4s ease 0.1s;
    -o-transition: all 0.4s ease 0.1s;
    -ms-transition: all 0.4s ease 0.1s;
    transition: all 0.4s ease 0.1s;
    z-index: 1;
}
.card-title, .card-subtitle, .card-text{
    text-align:left;
    margin-left: 15px;
}
.card-subtitle{
    font-weight: 600;
}
.carta{
    padding: 2px;
}
.cartas{
    margin-top: 2em;
    margin-bottom: 2em;
}

.icon{
    margin-left: 1em;
}
.icon img{
    width: 40px;
}