<div class="container">
    <div class="col-12 titulo">
        <p>Servicios disponibles</p>
    </div>
    <hr>
    <div class="col-12 subtitulo">
        <p>&horbar;
          Todos los servicios son adaptados, únicos e individualizados para cada persona
            &horbar;
    </div>
<div class="col-12 cartas">
       


<div class="row">

<div class="col-12 col-sm-6  carta">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">ALIMENTACIÓN INFANTIL <span class="icon"><img src="./assets/imagenes/bebeIcono.png" alt="iconoBebe"></span></h5>
      <p class="card-text">Es imprescindible adquirir unos correctos hábitos alimentarios desde pequeños. Si quieres que tus hijos aprendan a comer de una forma divertida y saludable no dudes en contactar con nosotros.</p>
    </div>
  </div>
</div>
<div class="col-12 col-sm-6  carta">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">NUTRICIÓN CLINICA  <span class="icon"><img src="./assets/imagenes/estetoIcono.png" alt="iconoEstetoscopio"></span></h5>
      <h6 class="card-subtitle mb-2 text-muted">Alergias, intolerancias, hipertensión, hipercolesterolemia...</h6>
      <p class="card-text">Planes alimenticios adaptados a cada patología.</p>
    </div>
  </div>
</div>
<div class="col-12 col-sm-6  carta">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">ALIMENTACIÓN VEGETARIANA Y VEGANA   <span class="icon"><img src="./assets/imagenes/brocoliIcono.png" alt="iconoBrocoli"></span></h5>
      <p class="card-text">Es importante llevar a cabo un plan alimenticio correcto y evitar déficits nutricionales. Si quieres empezar con esta forma de vida o posees poca información al respecto no dudes en consultarnos.</p>
    </div>
  </div>
</div>
<div class="col-12 col-sm-6  carta">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">ALIMENTACIÓN DURANTE EL EMBARAZO   <span class="icon"><img src="./assets/imagenes/embarazadaIcono.png" alt="iconoEmbarazo"></span></h5>
      <p class="card-text">Planes alimenticios adaptados para satisfacer las necesidades nutritivas, mejorar el crecimiento fetal, afrontar mejor el parto, disminuir riesgos e informar sobre la futura lactancia.</p>
    </div>
  </div>
</div>



    
    
</div>
</div>
</div>
