<div class="container m-0">
    <div class="col-12 titulo">
        <p>Servicios disponibles</p>
    </div>
    <hr>
    <div class="col-12 subtitulo">
        <p>&horbar;
          Todos los servicios son adaptados, únicos e individualizados para cada persona
            &horbar;
    </div>
<div class="col-12 contenido">
       


<div class="row">

<div class="col-12 col-sm-6  carta">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">ALIMENTACIÓN INFANTIL</h5>
      <h6 class="card-subtitle mb-2 text-muted">Subtitulo</h6>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sodales accumsan sapien in dictum.</p>
    </div>
  </div>
</div>
<div class="col-12 col-sm-6  carta">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">NUTRICIÓN CLINICA</h5>
      <h6 class="card-subtitle mb-2 text-muted">ALERGIAS, INTOLERANCIAS, HIPERTENSIÓN, HIPERCOLESTEROLEMIA...</h6>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sodales accumsan sapien in dictum.</p>
    </div>
  </div>
</div>
<div class="col-12 col-sm-6  carta">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">ALIMENTACIÓN VEGETARIANA</h5>
      <h6 class="card-subtitle mb-2 text-muted">Subtitulo</h6>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sodales accumsan sapien in dictum.</p>
    </div>
  </div>
</div>
<div class="col-12 col-sm-6  carta">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">ALIMENTACIÓN DURANTE EL EMBARAZO</h5>
      <h6 class="card-subtitle mb-2 text-muted">Subtitulo</h6>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sodales accumsan sapien in dictum.</p>
    </div>
  </div>
</div>



    
    
</div>
</div>
</div>
