<div class="wrapper-calendar">
	<label for="selector" style="margin-right: 1%;" *ngIf="this.admin"><h5>Profesional: </h5></label>
		<select class="btn selector" name="selector" *ngIf="this.admin" (change)="cambiaProfesional($event.target)">
			<option class="opcion" *ngFor="let prof of profesionales, let i=index" value={{i}}>{{prof.nombre}}</option>
		</select>
	<div class="header-calendar">
	
		
	
		<div>
			<button (click)="changeMonth(-1)" class="btn-prev"><</button>
		</div>
		
		<h1>{{mesAct}}  {{anio}}</h1>
		<div>
			<button (click)="changeMonth(1)" class="btn-next">></button>
		</div>
	</div>
	<ol>
		<li *ngFor="let day of semana" class="day-name">{{day | slice:0:3}}</li>

        <li  (click)="esperaModal(content); clickDay(day);esperaHoras(day)" [style.gridColumnStart]="first ? day?.indexWeek : 'auto'"
         *ngFor="let day of monthSelect;let first = first" class="libre dia" >
			<span>{{day?.value}}</span>
		</li>
	</ol>
</div>
<hr>
<div class="row ejemplos">
	<span class="ejemplo-libre ejemplo col-6 col-lg-3">
		Libre
	</span>
	<span class="ejemplo-pendiente ejemplo col-6 col-lg-3">
		Pendiente
	</span>
	<span class="ejemplo-ocupado ejemplo col-6 col-lg-3">
		Ocupado
	</span>
	<span class="ejemplo-vacaciones ejemplo  col-6 col-lg-3">
		Vacaciones
	</span>	
</div>
<hr>

<!--Modal para reservar Cita-->
<ng-template #content let-modal class="mt-5">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Reservar Cita para {{fechaSimple(dateValue)}}</h4>
      <button type="button" class="btn btn-danger" aria-label="cerrar" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
		<div class="botones" *ngIf="this.hub || this.admin">
			<button class="btn btn-warning" (click)="diaOcupado()">DIA OCUPADO</button>
			<button class="btn btn-warning" (click)="diaVacaciones()">DIA VACACIONES</button>
		</div>
		
      <form autocomplete="off" #citaForm="ngForm" (ngSubmit)="formularioValido()" >
        <div class="form-group">
          <label for="nombre" >Nombre</label>
		  <span  class="form-text text-danger">*</span>
          <div class="input-group">
            <input id="nombre" name="nombre" class="form-control" placeholder="Introduzca su nombre" minlength="3" requiered  [(ngModel)]="this.cita.persona.nombre">
          </div>
		  <span *ngIf="citaForm.controls['nombre']!=null">
			<span class="form-text text-danger"
			*ngIf="!nombreValido() && citaForm.controls['nombre'].touched">
		  * Mínimo 3 carácteres sin espacios
	  </span>
		</span>
		  
        </div>
		

		<div class="form-group">
			<label for="apellidos">Apellidos</label>
			<span class="form-text text-danger">*</span>
			<div class="input-group">
			  <input id="apellidos" name="apellidos" class="form-control" placeholder="Introduzca sus apellidos" minlength="8" requiered   [(ngModel)]="this.cita.persona.apellidos" >
			</div>
			<span *ngIf="citaForm.controls['apellidos']!=null">
				<span class="form-text text-danger"
                    *ngIf="!apellidosValido() && citaForm.controls['apellidos'].touched">
                  * Mínimo dos apellidos de 3 caracteres
              </span>
            </span>
			
		  </div>

		  <div class="form-group">
			<label for="tlfn">Telefono</label>
			<span class="form-text text-danger">*</span>
			<div class="input-group">
			  <input id="tlfn"  name="tlfn" class="form-control" placeholder="Ej: 612345678 o +34 612345678 " minlength="9" requiered [(ngModel)]="this.cita.persona.tlfn" >
			</div>
			<span *ngIf="citaForm.controls['tlfn']!=null">
				<span class="form-text text-danger"
				*ngIf="!telefonoValido() && citaForm.controls['tlfn'].touched">
			  * No cumple el formato Ej: 60000000 o +34 612345678 
		  		</span>
            </span>			
		  </div>

		  <div class="form-group">
			<label for="email">Email</label>
			<span class="form-text text-danger">*</span>
			<div class="input-group">
			  <input id="email" name="email"  class="form-control" placeholder="Ej: correo@gmail.com " minlength="8" requiered  [(ngModel)]="this.cita.persona.email" >
			</div>
			<span *ngIf="citaForm.controls['correo']!=null">

					Error
				<span class="form-text text-danger"
                    *ngIf="!correoValido() && citaForm.controls['email'].touched">
                  * No cumple el formato Ej: correo@gmail.com 
              </span>
            </span>
			<span *ngIf="citaForm.controls['email']!=null">
				<span class="form-text text-danger"
                    *ngIf="!correoValido() && citaForm.controls['email'].touched">
                  * Ej: correo@dominio.com
              </span>
            </span>
			
		  </div>
		
        <div class="form-group">
            <label for="nombre">Motivo</label>
			<span class="form-text text-danger">*</span>
            <div class="input-group">
              <textarea id="motivo" name="motivo" class="form-control" placeholder="Introduzca el motivo de su consulta" minlength="5" requiered [(ngModel)]="this.cita.motivo" ></textarea>
            </div>
			<span *ngIf="citaForm.controls['motivo']!=null">
				<span class="form-text text-danger"
                    *ngIf="!motivoValido() && citaForm.controls['motivo'].touched">
                  * Mínimo 5 carácteres
              </span>
            </span>
			
          </div>
		  <div class="form-group">
			<label for="tipoCita">Tipo de cita</label>
			<select name="tipoCita" id="tipoCita" class="form-select" [(ngModel)]="this.cita.presencial">
                <option value="true">Presencial</option>
                <option value="false">Online</option>
            </select>
		  </div>
		  <div class="form-group">
			<label for="huecos">Citas disponibles</label>
			<select name="huecos" id="huecos" class="form-select" [(ngModel)]="this.cita.hora" >
				<option value=0 selected disabled hidden>Elige la hora</option>
                <option value=4 id="hora4">16:00-17:00</option>
                <option value=5 id="hora5">17:00-18:00</option>
				<option value=6 id="hora6">18:00-19:00</option>
				<option value=7 id="hora7">19:00-20:00</option>
            </select>
		  </div>
		  <button type="submit" class="btn btn-outline-dark boton">Enviar</button>
      </form>
    </div>
	
    
  </ng-template>

