<div class="row">
    <div class="col-8">
        <p class="texto">
            MAS SOBRE MI
Comencé estudiando el Grado Superior en Dietética y más tarde me gradué como Dietista-Nutricionista en la Universidad Pablo de Olavide.
Actualmente estoy realizando un máster en la Universidad de Granada, llamado Condicionantes Genéticos, Nutricionales y Ambientales del Crecimiento y el Desarrollo NUTRENVIGEN G+ D FACTORS, especializado en Nutrición Infantil.
Soy Colegiada en el Colegio Oficial de Dietistas Nutricionista de Andalucía (CODINAN) con número 1147.
Esta profesión se encuentra en constante cambio, por ello he realizado y sigo efectuando varios cursos para aumentar mis conocimientos y poder ayudar a mis pacientes.
Mi objetivo principal es poder guiaros a construir unos hábitos de vida saludables y mejorar vuestra alimentación desde una perspectiva relacionada con las emociones. 
Todo se puede conseguir con educación, perseverancia y constancia. No dudes en contactar conmigo!
>Cursos realizados
-Alimentación emocional
-Alimentación infantil
-Nutrición Oncológica
-Bifidobacterias: biomarcador de un intestino saludable
        </p>
    </div>
</div>