@media (min-width: 600px) {
    .enlaceHover:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        background-color: #00acca;
        transform-origin: bottom right;
        transition: transform 0.30s ease-out;
    }
      
    .enlaceHover:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

}

.logo{
    width: 80px;
    height: auto;
}
.navbar{
    height: auto;
    font-size: 22px;
    -webkit-box-shadow: 6px -16px 13px 23px rgba(0,0,0,0.19); 
    box-shadow: 6px -16px 13px 23px rgba(0,0,0,0.19);
}

a:hover{
    color:black!important;
    font-weight:600;
}

.enlaceHover{
  display: inline-block;
  position: relative;
  color: #00acca;
}
