<div class="container mr-0" style="max-width: 1500px;">
    <div class="col-12 titulo">
        <p>Presentación</p>
    </div>
    <hr>
    <div class="row">
    <div class="col-12 col-md-7 contenido">
        <p>Bienvenidos a mi          página web!
            Si buscas cambiar tus hábitos alimenticios y mejorar tu relación con la comida de una forma saludable, este es tu sitio.
            Me presento, ni nombre es <span>Marta Cuberos </span>y soy dietista-nutricionista. Desde siempre me ha llamado la atención el mundo de la salud y la alimentación. No supe que existía una fuerte unión entre ellos hasta que conocí la existencia de esta profesión tan bonita.
            <br>Para mí las palabras dieta, milagro o detox no existen en mi vocabulario. Apuesto por una alimentación saludable, de calidad y proximidad. No es solo comer, si no también aprender.
            Cada plan alimenticio es único e individualizado, adaptado a tus gustos y limitaciones.
            Es posible cambiar tu vida a través de la alimentación. Te invito a descubrirlo con nosotros.
            Nos adpatamos a ti!<br><br>
            Por ello puedes elegir entre consultas online o presencial.     
        </p>
        
    </div>

    <div class="col-12 col-md-5 text-center">
        <div class="row text-center" style="width: 100%;">

            <div class="col-12 mt-5">
                <img src="./assets/imagenes/Marta.jpeg" alt="Marta Cuberos" class="imagen">
            </div>

            <div class="col-12">
                <button type="button" class="slide">
                    <div>Pedir Cita</div>
                    <i class="fa fa-angle-right"></i>
                  </button>
            </div>

        </div>
    </div>

</div>
    
    
    
</div>
