@media (max-width:900){
    .slide{
        margin-top: 7%;
        margin-left: 25%;
    }
    .row{
        padding:0;
    }
}

p{
    margin-bottom: 0;
}
hr{
    margin-top:0;
    min-width: 20%;
    max-width: 80%;
}
span{
    font-family: fantasy;
    color: rgb(53, 53, 53);
    font-weight: bold;
    font-size: 20px;
}
.slide {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 13px 30px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 7%;
}
.container{
    margin-bottom: 3em;
    margin-left: 0;
    max-width: 100%;
    
}
.slide i {
    opacity: 0;
    font-size: 20px;
    transition: 0.5s;
    position: absolute;
    right: 10px;
    top: 15px;
    transition: transform 1;
    color: white;
    
}

.slide div {transition: transform 0.8s;}
.slide:hover div {transform: translateX(-6px);}

.slide::after {
    content: "";
    background-color: #7cf1da;
    width: 100%;
    z-index: -3;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
}

.slide:hover i {
    opacity: 1;
    color: rgba(34, 34, 34, 0.788);
    transform: translateX(-6px);
}
.imagen{
    max-width: 400px;
    width: 100%;
    height: auto;
    margin-left: 4%;
}
.naranja{
    color: chocolate;
    font-size: 22px;
    font-weight: 600;
}