<div class="container">
    <div class="col-12 titulo">
        <p>Blog</p>
    </div>
    <hr>
    <div class="col-12 subtitulo">
        <p>&horbar;
            Aprende mas que nunca
            &horbar;
    </div>
    <div class="col-12 contenido">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sodales accumsan sapien in dictum. Nullam hendrerit velit et tortor interdum commodo. Sed vehicula eleifend mi id faucibus. Pellentesque faucibus purus ut velit iaculis, eget rutrum ipsum interdum. Fusce et nisi libero. Sed eget sapien pretium, condimentum ligula eget, tristique augue. Praesent fringilla ac sapien in ullamcorper. Nullam eu imperdiet orci.

            Morbi mollis sem ex, non volutpat quam euismod sit amet. In vel sapien at libero sodales porta non sed tortor. Curabitur auctor eget lacus in molestie. Quisque non arcu odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus blandit nibh est, eu hendrerit elit suscipit sit amet. Aliquam felis nisi, cursus sed vestibulum id, hendrerit eget nunc. Phasellus mattis maximus nibh ultrices euismod. Donec condimentum convallis vehicula.
        </p>
        <div class="col-12 col-md-4 text-center">
            <button type="button" class="slide">
                <div>Visitar Blog</div>
                <i class="fa fa-angle-right"></i>
              </button>
        </div>
    </div>
    
    
    
</div>
