
.titulo{
    text-align: left;
    font-family: "Prata",Arial,Helvetica,sans-serif;
    font-weight: 600;
    font-size: 3em;
    color: #424242;
    margin-top: 2em;
}
p{
    margin-bottom: 0;
}
hr{
    margin-top:0;
    min-width: 20%;
    max-width: 80%;
}
.subtitulo{
    font-size: 20px;
    font-weight: 600;
    margin-top: 2em;
    text-align: left;
    color: #df824c;
}
.posts{
    margin-bottom: 4em;
    background: rgba(122, 21, 97, 0.26);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}
.card{
    background: none;
    border: none;
}

.botonPost{
	cursor:pointer;
	font: 16px Arial;
    display: inline-block;
    padding: 1em 2em;
    text-align: center;
    color: white;
    background: red; /* default color */
	background: linear-gradient(to left, salmon 50%, lightblue 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
    margin-left: auto;
    margin-right: auto;
}
.botonPost, a{
	text-decoration: none;
}
.botonPost:hover{
	background-position: left;
}

