@media (max-width:900px){
    .hrV{
        display: none;
    }
    .postRel{
        margin-top: 2em;
        margin-bottom: 2em;
        padding-right: 0.5em;
        font-size: 2em;
        color: darkblue;
        font-weight: bold;
    }
    .card{
        margin-left: 1em;
        margin-right: 1em;
    }
    .botonPost{
        padding: 1em 2em;
    }
}
.postRel{
    margin-top: 1em;
    margin-bottom: 1em;
    padding-right: 20px;
    font-size: 1.5em;
    color: darkblue;
    font-weight: bold;
}


.row{
    padding-left: 0;
    padding-right: 0;
}
.container{
    margin-top: 5em;
    margin-left: 1em;
    max-width: none;
    width: 100%;
}
.hrVertical{
    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         100%;
    width:          2px;
    margin: 0;       
    
}
.izquierda{
   padding-right: 0;
}
.contenido{
    max-width: 85%;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    text-align: justify!important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}
.card-text{
    white-space: normal;
    word-break: break-word
}

img{
    max-width: 100%;
    max-height: 100%;
}
input, textarea{
    border: 2px solid rgb(99, 98, 98);
    width: 80%;
}
input:hover, textarea:hover{
    border: 2px solid rgb(46, 46, 46);
}
input{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.comentarios{
    margin-left: auto;
    margin-right: auto;
}
.comentAutor{
    text-align: left!important;
    font-size:1.1em;

}
.comentFecha{
    text-align: right!important;

}
.comentContenido{
    text-align: justify!important;
}

.comentario-box{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    max-width: 600px;
    margin-top: 1em;
    padding: 10px;
    background-color: rgba(41, 111, 165, 0.151);
    border-radius: 10px;
}
.posts{
    margin: 0;
}
.post{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0;
}
.card{
    font-size: 14px;
}
.h4{
    font-size: 18px;
}

.botonPost{
    margin-top: 4%;
	cursor:pointer;
	font: 16px Arial;
    display: inline-block;
    padding: 0.5em 1em;
    text-align: center;
    color: white;
    background: red; /* default color */
	background: linear-gradient(to left, salmon 50%, lightblue 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}
.botonPost, a{
	text-decoration: none;
}
.botonPost:hover{
	background-position: left;
}
h5{
    font-size: 40px;
    font-weight: 600;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #6da391;
}
