<div class="row" style="height: 100vh;">    
    <a href="blog#portada" class="btn-flotante" [ngClass]="(botonflotante === true) ? 'aparece' : 'desaparece'" >
    <i class="fa fa-arrow-up"></i></a>
    
    <div class="portada col-12" id="portada">
        <img class="imagen" src="./assets/carousel/salad.jpg" alt="">
    </div>
     <div class="busqueda col-12"><!--motor de busqueda -->
      <label for="busqueda">Buscar: </label>
        <input type="text" name="busqueda" id="">
    </div>
    <div class="posts col-12" style="height: 100vh;">

    </div>
    
    <div class="col-12 footer-div">
        <footer class="text-center footer" style="background-color:#000000;">
    
            <div class="p-3">
              <p class="text-white">© 2022 Copyright: RCM</p>
            </div>
          </footer>
    </div>
       
    </div>