.btn{
    border-radius: 40px;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}
svg{
    width: 30px;
    height: 30px;
}
.btn:hover{
    transform: scale(1.2);
}
.card{
    text-align: left;
    margin-bottom: 1em;
    border-color: rgb(29, 29, 29);
    padding:0;
}

.selector{
    border-color: transparent;
    background-color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 1.3em;
}
.mensaje{
    margin-top: 10em;
}
.espacio{
    height: 2em;
}
.contenido{
    min-height: 80vh;
}

.comentarios{
    margin-top: 2em;
}