<div class="container">
            
            <div class="col-12 titulo">
                <p>Reseñas</p>
            </div>
            <hr>
            <div class="col-12 subtitulo">
                <p>&horbar;
                    Opiniones de antiguos pacientes
                    &horbar;
            </div>


            <div class="row">

                <div class="col-12 col-md-6 contenido">
                    <p>¿Te gustaría compartir tu experiencia con el resto?
                      </p>
                    <span class="enlace">¡Deja tu comentario! </span>
                        <button type="button" class="boton" (click)="open(content)">
                            <div>Realizar Comentario</div>
                            <i class="fa fa-angle-right"></i>
                          </button>
                </div>

                <div class="col-12 col-md-6 comentarios">

                    <div id="comentarios" class="carousel slide" data-bs-ride="carousel" data-bs-interval="10000">
                      <div class="carousel-inner" >              
                        <div class="carousel-item"
                        *ngFor="let c of comentarios; let i = index"
                        [attr.data-slide-to]="i" [class.active]="i === 0">
                        <p>{{c.contenido}}</p>
                        <span class="autor">- {{c.autor}}</span>

                      </div>
                    </div>
                    
                </div>

            </div>

           
     


</div>
<!--Modal para hacer comentario-->
<ng-template #content let-modal class="mt-5">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Nuevo comentario</h4>
      <button type="button" class="btn btn-danger" aria-label="cerrar" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="nombre">Nombre y Apellidos</label>
          <div class="input-group">
            <input id="firstname" class="form-control" [(ngModel)]="comentario.autor" name="autor">
          </div>
        </div>
        <div class="form-group">
            <label for="nombre">Comentario</label>
            <div class="input-group">
              <textarea id="firstname" class="form-control" [(ngModel)]="comentario.contenido" name="contenido"></textarea>
            </div>
            <button type="button" class="btn btn-outline-dark" (click)="guardarComentario()">Enviar</button>
          </div>
      </form>
    </div>
    
  </ng-template>