<div class="container">
    <div class="col-12 titulo">
        <p>Date una Oportunidad!</p>
    </div>
    <hr>
    <div class="col-12 subtitulo">
        <p>&horbar;
            Pide tu primera cita
            &horbar;
    </div>
    <div class="col-12 contenidoPrincipal">
        <p> Cambia tu forma de vida con nuestra ayuda. Primera cita sin compromiso, podremos evaluar tu estado
            y trabajar contigo en tus objetivos, siempre rodeado de los mejores profesionales
        </p>
        <div class="col-12 col-md-4 text-center">
            <button type="button" class="slide" [routerLink]="['/cita']">
                <div>Cita Previa</div>
                <i class="fa fa-angle-right"></i>
              </button>
        </div>
    </div>
    
    
    
</div>

