@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Prata&display=swap');
/* Fondo Spinner */
.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(74,74,74, .8);
    z-index:10;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ScrollBar */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #16749c #b0b0b0;
  }

  /* Chrome, Edge, y Safari */
  *::-webkit-scrollbar {
    width: 15px;
  }

  *::-webkit-scrollbar-track {
    background: #979797a1;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #16749c;
    border-radius: 8px;
  }
.titulo{
    text-align: left;
    font-family: "Prata",Arial,Helvetica,sans-serif;
    font-weight: 600;
    font-size: 3em;
    color: #424242;
    margin-top: 2em;
}
.subtitulo{
    font-size: 21px;
    font-weight: 600;
    margin-top: 2em;
    text-align: left;
    color: #df824c;
}
.contenidoPrincipal{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 2em;
  color: #525252;
  margin-bottom: 3em;
  font-size: 20px;
}
